<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ajax et al</title>
<link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
	<div class="displayDiv">
		<button onclick="toggle">toggle</button>
	</div>
	<div class="displayDiv">
		<button onclick="stopColor()">make it stop!!!</button>
	</div>
	<div class="displayDiv" id="time">
		<h4>the current time is: </h4>
	</div>
	<div class="displayDiv">
		<h4>enter a pokemon id: </h4>
		<input type="number" id="pokeId"/> <br> 
		<button type="button" id="pokeButton">What's its name?</button>
		<div class="displayDiv" id="pokeResult"></div>
	</div>
	
</body>
<script src="../scripts/ajaxEtc.js"></script>
</html>