<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ajax et al</title>
<link rel="stylesheet" href="../styles/style.css"/>
</head>
<body>

	<div class="displayDiv">
		<button onClick="stopColor()">make it stop!!!</button>
	</div>
	
	<div class="displayDiv" id="time">
		<h4>The current time is: </h4>
	</div>
	<div class="displaDiv">
		<h4>enter a pokemon id: </h4>
		<input type="number" id="pokeId"/> <br>
		<button type="button" id="pokeButton">What's it's name?</button>
		<div class="displayDiv" id="pokeResult"></div>
	</div>

</body>
<script src="../scripts/ajaxEtc.js"></script>
</html>