<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/styles.css"/>
<style>
	#div1 {
		height: 450px;
		width: 450px;
	}
</style>
</head>
<body>
	<div id = "div2" class="displayDiv"> 
		<p> mouse x position </p><p id = "mouseX"></p>
		<p> mouse y position </p><p id = "mouseY"></p>
		
	</div>
	<div id = "div1" class="displayDiv">
	
		<p id = p1"> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus enim, tempor nec purus nec, elementum blandit urna. Cras et interdum massa. Cras congue a dui varius finibus. Maecenas quis eros sagittis lectus pretium consectetur. Pellentesque tempor ex nec arcu accumsan, sit amet mollis lorem venenatis. Phasellus tincidunt volutpat quam, eu pharetra lorem lobortis nec. Ut pulvinar mollis commodo. Nulla consectetur id nulla sit amet placerat. Sed nec mauris quis eros commodo placerat vitae ac justo. Donec turpis arcu, pretium sed ipsum sed, blandit cursus nunc. Quisque id lectus ut ipsum molestie rhoncus eget ac tortor. Vivamus in velit fermentum, vestibulum orci in, elementum erat. Aenean nec venenatis dolor. Proin cursus rhoncus eros at finibus. Duis a lacus sed lorem interdum interdum lobortis sit amet felis.
			
			Mauris fermentum efficitur ex. Morbi a molestie tortor. Morbi lacinia ex neque, ut consequat neque egestas vel. Sed ullamcorper ac mauris in placerat. Duis quis neque tortor. Ut egestas metus sed lorem gravida blandit. Morbi nec euismod ipsum. Sed sit amet turpis eu quam eleifend congue id vitae eros. Ut lacinia dui odio, sit amet fermentum ligula fringilla nec. Morbi et interdum turpis. Phasellus fermentum diam vitae tempus pulvinar. Suspendisse tempor accumsan lectus. Ut egestas justo in lorem tincidunt, at elementum velit sodales.
			
		</p>
	</div>
	
	<div id = "div3" class="displayDiv">	</div>
	
	<div id = "div4" class="displayDiv">	
		<div id = "div5" class="displayDiv">
			<div id = "div6" class="displayDiv">
			</div>
		</div>
	</div>
	<div id="div7" class="displayDiv">
		<table id = "t1" onclick="alert('hello from t1')">
			<tr id="tr1"> 
				<td id = "c1">one</td>
			</tr>
			<tr id="tr2"> 
				<td id = "c2">two</td>
			</tr>
		</table>
		
	</div>
</body>
<script src="../scripts/events.js"></script>
</html>