<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Homepage</title>
</head>
<body>
	<div>
		<h1>Employee Page</h1>
	</div>
	<div id = "employeeInformation"></div>
	<input id ="updateEmployeeRequest" type="submit" value="Update Employee">
	<div id = "updateEmployeeForm"></div>
	<div id = "employeeReimbursements"></div>
	<input id ="reimbursementRequest" type="submit" value="Submit Reimbursement">
	<div id = "reimbursementForm"></div>
</body>

<script src="scripts/employee.js"></script>


</html>