<!DOCTYPE html>
<html lang="en">
    <head>
	<title>ERS Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <!-- CDN (content delivery network) for bootstrap's CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../scripts/coolstyles.css"/>
	</head>
	<body>
		<div class="container">
			
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				      </button>
			      <a class="navbar-brand" href="Login.html"><span class="glyphicon glyphicon-home" id="homebtn"></span></a>
			    
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
				
			       </ul>
				</div>
			   </nav>
		</div>
		
		<div class="container">
			<div class="jumbotron" id="jump">
				<h3 class ="heading1" id="head">Login</h3>
				
				<form id="formlogin" action="login" method="post"> 
				    <div class="form-group">
				   
				      <input type="username" name="username" class="form-control" id="inputusername" placeholder="Enter username">
				    </div>
				    <div class="form-group">
				      <input type="password" name="password" class="form-control" id="inputpassword" placeholder="Enter password"> 
				    </div>
				    <button type="sumbit" value="login" class="btn btn-default" id="inputbuttons">Submit</button>
				    <h1 name="incorrectlogin"></h1>
				  </form>
				  
			</div>
			
		</div>
		
	<script src=""></script>
	</body>
	
	
	
</html>