<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Information</title>
</head>
<body>
	<form class="box" action="employeeUpdate" method="POST">
		<fieldset>
			username: <br><input name="username"><br>
			password: <br><input name="password" type="password"><br>
			first name: <br><input name="fname"><br>
			last name: <br><input name="lname"><br>
			email: <br><input name="email"><br>
		</fieldset>	
		<input type="submit" value="Update Employee Information">
	</form>
</body>
</html>