<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <servlet-name>master</servlet-name>
    <servlet-class>com.revature.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>master</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>manager</servlet-name>
    <servlet-class>com.revature.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>basicinfo</servlet-name>
    <servlet-class>com.revature.servlet.BasicInfoServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>basicinfo</servlet-name>
    <url-pattern>/basicinfo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>reimbursements</servlet-name>
    <servlet-class>com.revature.servlet.ReimbursementsServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>reimbursements</servlet-name>
    <url-pattern>/reimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reimbursement</servlet-name>
    <servlet-class>com.revature.servlet.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbursement</servlet-name>
    <url-pattern>/reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empupdate</servlet-name>
    <servlet-class>com.revature.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empupdate</servlet-name>
    <url-pattern>/empupdate</url-pattern>
  </servlet-mapping>
  
</web-app>