<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloJenkins</display-name>
  <servlet>
    <description></description>
    <display-name>JenkinsServlet</display-name>
    <servlet-name>Jenkins</servlet-name>
    <servlet-class>com.revature.jenkins.JenkinsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jenkins</servlet-name>
    <url-pattern>/JenkinsServlet</url-pattern>
  </servlet-mapping>
</web-app>