<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ERS-Home</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header"><a class="navbar-brand" href="main">Employee Reimbursement System</a></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
	
		<div id="empInfo" class="well well-lg col-md-12">
			
		</div>
		
		
	</div>

</body>
<script src="scripts/empHome.js"></script>
</html>