<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Admin!</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
<h1>Admin Page</h1>
</head>
	<body>
	
		<div id="customer_data" class="customer_info">
		<!-- select customers content editable for each <tr> -->
		Customer data
				<!-- will forward to a page with the 
				1) individual customer data based on selected 
				2) approve or disapprove
				3) blob to add/remove
				**remember grant permissions
				4)--create new account?-->
				<br></br>
				<form id="getCustomerData" name="customer_data" action="../GetCustomerServlet" method="post" >
				<table id="getCustomers">
				<!--<div>id | user | password | fname | lname | email | rid |</div>-->
				</table>
				</form>
		</div>
		<br></br>
		
		<div id="getfield" hidden=true></div>
	
		<input id="addRow" onclick="addRow()" value="Add Row"/>
		<div id="logsuccess_return">
		<a href="Login.html">Return to login</a>
		</div>
		
		<div id="logsuccess_logout">
		<a href="Logout.html">Logout!</a>
		</div>
	
	</body>
<script type="text/javascript" src="../scripts/employerinfo.js"></script>
</html>