<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Customer's data</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
<h1>View Customer's data</h1>

</head>
<body>
	<div id="table1" class="customer_info"></div>
	<!-- delete or update each row
	--delete account and drop row? 
	1)username
	2)password
	3)account info
	4)...
	based on ids
	update based on ids -->
	
	<div id="blob1">
	<img src="" alt="customer'sReinbursement"/> 
	<!-- delete, update, or create blob based on ids
	update based on ids -->
	</div>
	
	<div id="approval">
		<select>
	  	<option value="Yes">Yes</option>
	  	<option value="No">No</option>
		</select>
	</div>
	
	<div id="reinbursement_comments"></div>
</body>
<script type="text/javascript" src="../scripts/employerinfo.js"></script>
</html>