<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Success</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
<h1>Login Success!</h1>

</head>
<body>
	<!-- add in later welcome to user ?-->
	<!-- need to switch page based on user -->
	
	<div id="customer_table" class="customer_info"></div>
	
	<div id="logsuccess_return">
	<a href="Login.html">Return to login</a>
	</div>
	
	<div id="logsuccess_logout">
	<a href="Logout.html">Logout!</a>
	</div>
</body>

<script type="text/javascript" src="../scripts/customerinfo.js"></script>
</html>