<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
</head>
<body>
<div id= "loginBox">
	<form id="loginform1" action="../login" method="post">
	<div id="login_title" class="loginTitle">Login</div><br></br>
	Username: <input type="text" name="user1" method="post"><br></br>
	Password: <input type="password" name="pass1" method="post"><br></br>
	<input id="loginButton" type="submit" Value="Login"/>
	</form>
</div>
</body>
</html>