<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
</head>
	<body>
	<div id="userhere" name="userhere"></div>
	
	<div id= "loginBox" class="loginBox">
		<form id="loginform1" action="../login" method="post">
		<div id="login_title" class="loginTitle">Login</div><br></br>
		Username: <input type="text" name="user1" method="post"><br></br>
		Password: <input type="password" name="pass1" method="post"><br></br>
		<input id="loginButton" type="submit" Value="Login"/>
		</form>
	</div>
	
	<br></br>
	<div id= "createAcc">
	<a href="CreateAnAcc.html">Create an Account?</a>
	</div>
	
	</body>
<script type="text/javascript" src="../scripts/customerinfo.js"></script>
</html>