<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Success</title>
<link rel="stylesheet" type = "text/css" href="../styles/baseStyles.css"/>
<h1>Login Success!</h1>

</head>
	<body>
		<!-- add in later welcome to user ?-->
		<!-- need to switch page based on user -->
		<table id="customer_table" class="customer_info"></table>
		
		Request a Reimbursement:
		<form id="reinburse" action="../UpdateUsersServlet" method="post">
		<input id="reinburseAmount" name="rAmount" type="number"/>
		<input id="rsumbit" type="submit" value="Submit"/>
		</form>
		
		<br></br><div id="fileUpload">Upload a File for Reimbursement!</div>
		<!-- Content type=img -->
		
		<div id="logsuccess_return">
		<a href="Login.html">Return to login</a>
		</div>
		
		<br></br>
		<form id="logsuccess_logout" name="logout" action="../login" method="post">
		<a href="Logout.html">Logout!</a>
		</form>
	</body>

<script type="text/javascript" src="../scripts/customerinfo.js"></script>
</html>