<!DOCTYPE html>
<html ng-app="HelloWorldApp">
<head>
<meta charset="ISO-8859-1">
<title>Bears!</title>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script type="text/javascript" src="HelloWorldApp.js"></script>
<script type="text/javascript" src="BearCtrl.js"></script>
<link rel="stylesheet" href="styles.css" />
</head>
<body ng-controller="BearCtrl">
	
	<div class="displayDiv">
		<h2>BEARS</h2>
	</div>
	<div class="displayDiv">
		<table>
			<tr ng-repeat="b in bears">
				<td class="displayBox">{{b.id}}</td>
				<td class="displayBox">{{b.name}}</td>
				<td class="displayBox">{{b.birthdate}}</td>
				<td class="displayBox">{{b.weight}}</td>
				<td class="displayBox">{{b.cave.name}}</td>
			</tr>
		</table>
	</div>
	<div class="displayDiv">
		<h4>Add Bear:</h4>
		<form>
			<input type="text" ng-model="newBearName" size="30"
			placeholder="enter new bear name" ng-style="inputStyle" style="">
			<button ng-click="addBear()">add this bear</button>
		</form>
	</div>
</body>
</html>