<!DOCTYPE html>
<html ng-app="HelloWorldApp"> <!-- ng-app can go anywhere, but angular will only apply to element in the ng-app tag -->
<head>
<meta charset="ISO-8859-1">
<title>Hello World!</title>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script type="text/javascript" src="HelloWorldApp.js"></script>
<link rel="stylesheet" href="styles.css"/>
</head>
<body>

	<div ng-controller="ColorCtrl" class="displayDiv">
		<h3>ColorCtrl's favorite color is: {{myColor}}</h3>
		<input type="button" value="set color"
			ng-click="myStyle={color:myColor}"> <br> <input
			type="button" value="set background"
			ng-click="myStyle={'background-color':'blue'}"> <br>
		<input type="button" value="clear" ng-click="myStyle={}"> <br/>
		<span ng-style="myStyle">This is some text</span>
		<pre>myStyle={{myStyle}}</pre>
	</div>
	
	<form ng-controller="DivisionCtrl"  class="displayDiv">
		 <label>Number: </label><input name="number" ng-model="data.number" ng-change="divisionNeeded()"> <br>
		 <label>Divisor: </label><input name="divisor" ng-model="data.divisor" ng-change="divisionNeeded()"> <br> <br>
		 <label>Result: </label>{{data.result}}<br>
	</form>
	
	<div class="displayDiv">
		<p>Fun with expressions</p>
		<p>{{7+3-9}}</p><!-- this does math -->
		<p>{{'7'+'3'+'10'}}</p><!-- this does not -->
		<p>{{data.result}}</p> <!-- we don't have access to DivisionCtrl() here -->
		
	</div>
	
	<div class="displayDiv" ng-controller="BearCtrl">
		<table>
			<tr ng-repeat="b in bears" | orderBy: "id">
				<td class="displayRow">{{b.id}}</td>
				<td class="displayRow">{{b.name}}</td>
				<td class="displayRow">{{b.age}}</td>
			</tr>
		</table>
		<table>
			<tr ng-repeat="b in bears" | ">
				<td class="displayRow">{{b.id}}</td>
				<td class="displayRow">{{b.name}}</td>
				<td class="displayRow">{{b.age}}</td>
			</tr>
		</table>
	</div>
	<div class ="displayDiv" ng-controller="ServiceCtrl">
		<label>Show my url: </label><p ng-bind="myUrl"></p>
		<label>Show the time </label><input type="checkbox" ng-model="showTime">
		<br>
		<div ng-show"showTime" class ="displayBox" >
			<label>The current time is:</label> <p ng-bind="theTime"></p>
		</div>
	</div>
	<!-- custome directive invoked as custom  -->
	<myDirective></myDirective>
	<div myDirective></div>
	<div class="myDirective"></div>

</body>
</html>
	