<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<div>
<p>Let's have a nice tree right here. You can do anything here - the only pre-requisite is that it makes you happy. We have all at one time or another mixed some mud.</p>

<p>You need the dark in order to show the light. I want everbody to be happy. That's what it's all about. Nice little fluffy clouds laying around in the sky being lazy.</p>

<p>All you need to paint is a few tools, a little instruction, and a vision in your mind. You're meant to have fun in life. You can create the world you want to see and be a part of. You have that power. Everybody's different. Trees are different. Let them all be individuals. Any little thing can be your friend if you let it be.</p>

</div>

</body>
</html>