<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bowlby One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="../Styles/Reciprocal.css"/>
	<title>Login to Reciprocal</title>
	
</head>
<body style="font-family:Capriola;background-color:#F3F7D4;">
	<div style="background-color:#CBE432;padding:15px;text-align:center;">
		<div>
		</div>
		<h1 id="title">Reciprocal</h1>
		<h3 id="subtitle">Corporate Reimbursement Management System</h3>
	</div><br><br>
	<div id="loginDiv">
		<form action="login" method="POST"><br>
			<input type="text" name="username" placeholder="Insert username" style="border:3px solid #448D76"/><br><br>
			<input type="text" name="password" placeholder="Insert password" style="border:3px solid #448D76"/><br><br>
			<button type="submit" name="submit">Log In</button>
		</form>
			<br><br>
			<p id="RegisterText" style="color:#B4555B;font-weight:bold;"> First-Time User? Register Your Account Below!<br><br>
			<button action="register" method="POST">Register</button>
	</div>
	<script src="../Scripts/events.js"></script>
</body>
</html>