<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dead Leaves</title>
</head>
<body>

	<p>Who do you think, the Libyans. I noticed you band is on the roster for dance auditions 
	after school today. Why even bother Mcfly, you haven't got a chance, you're too much like 
	your own man. No McFly ever amounted to anything in the history of Hill Valley. Now, now, 
	Biff, now, I never noticed any blindspot before when I would drive it. Hi, son. Uncle Jailbird 
	Joey? Right.</p>
	<p>Right. Marty, you seem so nervous, is something wrong? Look me up when you get there, 
	guess I'll be about 47. Your not gonna be picking a fight, Dad, dad dad daddy-o. You're coming
	 to a rescue, right? Okay, let's go over the plan again. 8:55, where are you gonna be. I'm, I'm 
	 sorry, Mr. McFly, I mean, I was just starting on the second coat.</p>
	 <p>Doc, is that a de- Well, now we gotta sneak this back into my laboratory, we've gotta get you 
	 home. Uh, you mean nobody's asked you? I'm really gonna miss you. Doc, about the future- What the 
	 hell is this?</p>

</body>
</html>